@import "_base";

:host {
  display: flex;
  flex-grow: 1;
  display: flex;
  align-items: stretch;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: pixel-to-rem(40);
  //   height: 116px;
  //   right: 0;
  //   background-image: linear-gradient(to right, rgba(216, 216, 216, 0.02), rgba(238, 238, 238, 0.81));
  // }
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 $space-4;
  align-items: center;
  overflow-x: scroll;
  position: relative;

  &__item {
    padding: $space-3;
    &--selected {
      transform: scale(1.11);
    }
  }
}

.item-empty {
  min-width: pixel-to-rem(100);
  min-height: pixel-to-rem(110);
  border-radius: 15px;
  background-color: rgba(163, 158, 158, 0.25);
}

.btn {
  min-width: 40px;
  padding: 0;
  border: 0;
}

.chevron {
  fill: rgb(196, 217, 228);

  &--left {
    transform: rotate(90deg);
  }

  &--right {
    transform: rotate(-90deg);
  }
}
