<ul class="list">
  <li class="list__item" *ngFor="let item of items">
    <app-card
      tabindex="0"
      [item]="item"
      [class.list__item--selected]="item.id === itemSelected?.id"
      [class.pictogram]="type === carouselType.Pictograms"
      [class.sentence]="type === carouselType.Sentence"
      (onItemSelected)="onItemClick($event)"
    ></app-card>
  </li>
  <ng-container *ngIf="type === carouselType.Sentence">
    <li class="list__item"><div class="item-empty"></div></li>
  </ng-container>
</ul>
