@import "_base";

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $primary-color;
}

.menu {
  position: absolute;
  right: $space-3;
  z-index: 1;
}

.carousel {
  flex-grow: 1;
  flex-basis: 0;
}

.menu-buttons {
  display: flex;
  padding: 0 $space-2;
}

.btn {
  margin: pixel-to-rem(20);
  height: pixel-to-rem(80);
  width: pixel-to-rem(80);
}

.material-icons.md-48 {
  font-size: pixel-to-rem(48);
}

.tab-group {
  flex-grow: 1;
}

::ng-deep div.mat-tab-label {
  height: auto;
  min-width: pixel-to-rem(100);
  padding: $space-3;
}

button.btn.mat-fab {
  margin: $space-2 $space-3;
}
