<app-carousel
  class="carousel"
  [itemSelected]="categorySelected"
  [items]="categories"
  (onItemSelected)="onCategorySelected($event)"
></app-carousel>
<app-carousel
  *ngIf="shouldDisplayCategory"
  class="carousel"
  [type]="carouselType.Pictograms"
  [items]="categorySelected?.items"
  (onItemSelected)="onPictogramSelected($event)"
></app-carousel>
<app-carousel
  *ngIf="!shouldDisplayCategory"
  class="carousel"
  [type]="carouselType.Sentence"
  [items]="pictogramSentence?.words"
></app-carousel>
<div class="menu-action">
  <button class="btn btn--play" (click)="play()">
    <img class="btn__icon" src="assets/icons/multimedia.svg" />
  </button>
  <button class="btn btn--reset" (click)="reset()">
    <img class="btn__icon" src="assets/icons/reset.svg" />
  </button>
</div>
