<div class="row">
  <app-carousel
    [items]="categories"
    (onItemSelected)="onCategorySelected($event)"
  ></app-carousel>
</div>
<div *ngIf="shouldDisplayCategory" class="row">
  <app-carousel
    *ngIf="categorySelected"
    [items]="categorySelected.items"
    (onItemSelected)="onPictogramSelected($event)"
  ></app-carousel>
</div>
<div *ngIf="!shouldDisplayCategory" class="row">
  <app-carousel
    [items]="pictogramSentence?.words"
  ></app-carousel>
</div>
<div class="footer">
  <button class="btn" (click)="play()"><img class="btn__icon" src="assets/icons/multimedia.svg"/></button>
  <button class="btn" (click)="reset()"><img class="btn__icon" src="assets/icons/close_icon.svg"/></button>
</div>
