@import "_base";

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $primary-color;
}

.menu {
  position: absolute;
  right: $space-3;
  z-index: 1;
}

.carousel {
  flex-grow: 1;
  flex-basis: 0;

  &:last-of-type {
    padding-bottom: $space-3;
  }
}

.menu-action {
  display: flex;
  padding: 0 $space-4 * 2;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  height: pixel-to-rem(46);
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: $space-2;
  background-color: $btn-secondary-color-action;

  &--play {
    background-color: $btn-primary-color-action;
  }

  &__icon {
    height: pixel-to-rem(30);
  }
}

.download-menu {
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    background-color: white;
    padding: 1rem;
  }
}
