<!-- <app-menu class="menu"></app-menu> -->
<mat-tab-group class="tab-group" [selectedIndex]="categoryIndexSelected" (selectedIndexChange)="onCategorySelected($event)">
  <mat-tab *ngFor="let category of categories; let categoryIndex=index">
    <ng-template mat-tab-label>
      <app-card
        [item]="category"
        [class.list__item--selected]="categoryIndex === categoryIndexSelected"
        [class.sentence]="true"
    ></app-card>
    </ng-template>
    <ng-template matTabContent>
      <app-carousel
      class="carousel"
      [type]="carouselType.Pictograms"
      [items]="category.items"
      (onItemSelected)="onPictogramSelected($event)"
    ></app-carousel>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<div class="menu-buttons">
  <button mat-fab color="primary" class="btn" (click)="play()">
    <mat-icon [inline]="true" class="material-icons md-48"
      >play_circle_outline</mat-icon
    >
  </button>
  <button mat-fab color="accent" class="btn" (click)="back()">
    <mat-icon [inline]="true" class="material-icons md-48">undo</mat-icon>
  </button>
  <button mat-fab color="warn" class="btn" (click)="reset()">
    <mat-icon [inline]="true" class="material-icons md-48">clear</mat-icon>
  </button>
</div>
