:host {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-image: url('../../../assets/images/board.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: inherit;
    width: inherit;
}